.btn {
  display: inline-block;
  padding: 10px 25px;

  @include text-primary($size: 16px, $height: 20px, $transform: uppercase);

  border: 0;

  vertical-align: middle;
  cursor: pointer;
}

.btn--default {
  color: $text-default;

  background-color: $bg-default;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($text-default, 0.3);
  }
}

.btn--primary {
  color: $text-light;

  background-color: $bg-primary;

  &:focus,
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($text-light, 0.3);
  }
}
