.catalog-sections {
  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }
}

.catalog-sections__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog-sections__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 20px 18px;

  background-color: $bg-default;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 75px 280px 63px 52px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 60px;

      width: 200px;
      height: 200px;
      margin-top: -100px;

      background-color: $bg-primary;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;

      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding: 50px 50px 65px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.catalog-sections__item--slim {
  @media (min-width: $tablet-width) {
    &::after {
      top: 50%;
      right: 90px;

      width: 140px;
      height: 194px;
      margin-top: -110px;

      background-image: url("../img/icon-cat-slim.svg");
    }
  }
}

.catalog-sections__item--pro {
  @media (min-width: $tablet-width) {
    &::after {
      top: 50%;
      right: 30px;

      width: 268px;
      height: 112px;
      margin-top: -56px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.catalog-sections__title {
  position: relative;

  margin: 0 0 30px;
  padding-left: 70px;

  @include text-primary($size: 24px, $height: 37px, $transform: uppercase);

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: $bg-primary;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    padding: 0;

    font-size: 36px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 32px 165px;
    margin-bottom: 42px;

    &::before,
    &::after {
      display: block;
    }

    &::before {
      width: 100px;
      height: 100px;
    }
  }
}

.catalog-sections__title--slim {
  &::after {
    top: -7px;
    left: 9px;

    width: 35px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: -10px;
      left: 17px;

      width: 70px;
      height: 97px;
    }
  }
}

.catalog-sections__title--pro {
  &::after {
    top: 5px;
    left: -9px;

    width: 70px;
    height: 30px;

    background-image: url("../img/icon-cat-pro.svg");
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 18px;
      left: -19px;

      width: 134px;
      height: 56px;
    }
  }
}

.catalog-sections__description {
  margin: 0 0 20px;
  padding: 0 0 22px;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    padding: 0;

    border: 0;
  }
}

.catalog-sections__link {
  position: relative;

  padding-right: 35px;

  @include text-primary($size: 16px, $height: 16px, $transform: uppercase);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    padding-right: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 24px;
    height: 16px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;

    @media (min-width: $tablet-width) {
      height: 20px;
    }
  }

  &:focus,
  &:hover {
    padding-right: 43px;

    @media (min-width: $tablet-width) {
      padding-right: 58px;
    }

    &::after {
      width: 32px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
