.catalog-additional__title-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    z-index: -1;

    height: 3px;

    background-color: $bg-primary;
  }

  &::before {
    left: 309px;
    width: calc((100vw - 300px) / 2);

    @media (min-width: $tablet-width) {
      left: 757px;
      width: calc((100vw - 750px) / 2);
    }

    @media (min-width: $desktop-width) {
      left: 1280px;
      width: calc((100vw - 1277px) / 2);
    }
  }

  &::after {
    width: 100vw;
    right: 0;
  }
}

.catalog-additional__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 34px;
  padding-right: 20px;
  padding-left: 20px;

  @include text-primary($size: 24px, $height: 24px);

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    margin-left: 30px;
    padding-right: 40px;
    padding-left: 40px;

    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.catalog-additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.catalog-additional__list {
  @include list-reset;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.catalog-additional__gift {
  position: relative;

  min-height: 288px;
  margin-top: 0;
  margin-bottom: 35px;
  padding: 185px 55px 40px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-light;

  background-color: $bg-primary;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 75px;
    padding: 70px 120px 70px 420px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 290px;
    margin-bottom: 70px;
    padding: 190px 40px 40px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;
    margin-left: -23px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: 65px;
      left: 90px;

      margin: 0;
    }

    @media (min-width: $desktop-width) {
      top: 65px;
      left: 50%;

      margin-left: -23px;
    }
  }
}
