.catalog {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.catalog__list {
  @include list-reset;
  @include container-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: -60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -80px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
