.catalog-sections__list {
  @include list-reset;
}

.catalog-sections__item {
  position: relative;

  margin-bottom: 20px;
  padding: 20px 20px;

  background-color: $bg-default;
}

.catalog-sections__title {
  position: relative;

  @include indent-reset;
  margin-bottom: 20px;
  padding: 7px 0 7px 70px;

  @include text-primary($size: 24px, $height: 37px, $transform: uppercase);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: $bg-primary;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slim::after {
    bottom: 4px;
    left: 8px;

    width: 35px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    bottom: 11px;
    left: -9px;

    width: 70px;
    height: 30px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.catalog-sections__description {
  @include indent-reset;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #d9d9d9;
}

.catalog-sections__link {
  position: relative;

  padding-right: 40px;

  @include text-primary($size: 16px, $height: 16px, $transform: uppercase);

  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 24px;
    height: 16px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 24px 10px;
  }

  &:hover {
    padding-right: 48px;

    &::after {
      width: 33px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 33px 10px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-sections {
    margin-bottom: 30px;
  }

  .catalog-sections__item {
    padding: 80px 310px 60px 55px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 60px;

      width: 200px;
      height: 200px;
      margin-top: -100px;

      background-color: $bg-primary;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;

      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--slim::after {
      top: 50%;
      right: 90px;

      width: 140px;
      height: 194px;
      margin-top: -110px;

      background-image: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      top: 50%;
      right: 30px;

      width: 268px;
      height: 112px;
      margin-top: -60px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .catalog-sections__title {
    margin-bottom: 30px;
    padding: 0;

    font-size: 36px;

    &::before,
    &::after {
      display: none;
    }
  }

  .catalog-sections__description {
    margin-bottom: 40px;

    border-bottom: 0;
  }

  .catalog-sections__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-sections {
    margin-bottom: 60px;
  }

  .catalog-sections__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-sections__item {
    max-width: 570px;
    padding: 50px 50px 60px 50px;

    &::before,
    &::after {
      display: none;
    }
  }

  .catalog-sections__title {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 165px;

    &::before,
    &::after {
      display: block;
    }

    &::before {
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      bottom: 10px;
      left: 17px;

      width: 70px;
      height: 97px;

      background-image: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      bottom: 22px;
      left: -19px;

      width: 134px;
      height: 56px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}
