.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  @include list-reset;
  @include container-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
