.catalog-more {
  padding: 24px 20px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 83px;
    margin-left: 60px;
    padding: 55px 40px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.catalog-more__btn {
  display: block;
  width: 100%;

  text-align: center;
}

.catalog-more__header {
  position: relative;

  margin: 0 0 10px;
  padding: 55px 0 0;
  list-style: none;

  @include text-primary($size: 16px, $height: 20px, $transform: uppercase);
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 25px;
    padding-top: 108px;

    font-size: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 30px;
    height: 30px;
    margin-left: -15px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-left: -30px;

      background-image: url("../img/icon-plus.svg");
    }
  }
}

.catalog-more__info {
  margin: 0 0 20px;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: auto;

    font-size: 16px;
  }
}
