.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  @include list-reset;
  @include container-reset;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .catalog__item {
    width: 324px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
