.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--light {
    background-color: #ffffff;
  }
}

.contacts__title {
  width: 140px;

  @include indent-reset;

  @include text-primary($size: 16px, $height: 20px, $transform: uppercase);
}

.contacts__address {
  width: 140px;

  @include indent-reset;

  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 180px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 180px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    background-color: #ffffff;
  }
}
