.container {
  position: relative;

  width: $mobile-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
