.copyrights__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.copyrights__link .copyrights__icon {
  fill: #666666;
}

.copyrights__link:hover .copyrights__icon {
  fill: $bg-primary;
}
