.copyrights__link {
  position: relative;

  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyrights__title {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.copyrights__link .copyrights__icon {
  margin-right: -7px;

  fill: #666666;

  @media (min-width: $tablet-width) {
    margin-top: -6px;
  }
}

.copyrights__link:hover .copyrights__icon {
  fill: $bg-primary;
}
