.example {
  padding-top: 15px;
  padding-bottom: 40px;

  background-color: #f2f2f2;
}

.example__title {
  @include indent-reset;
  margin-bottom: 20px;

  @include text-primary($size: 36px, $height: 60px);
}

.example__description {
  @include indent-reset;
  margin-bottom: 30px;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list-reset;
}

.example__item:first-child {
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 40px;

    background: linear-gradient(to bottom, #ffffff 620px, #f2f2f2 620px, #f2f2f2 100%);
  }

  .example__title {
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__item:first-child {
    margin-right: 40px;
  }

  .example__item:last-child {
    width: 175px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 175px, #f2f2f2 175px, #f2f2f2 100%);
  }

  .example__item:last-child {
    width: 325px;
    margin-left: 0;
  }

  .example__title {
    margin-bottom: 150px;
  }

  .example__container {
    display: flex;
    justify-content: space-between
  }

  .example__info {
    width: 450px;
  }

  .example__slider {
    width: 610px;
  }

  .example__description {
    margin-bottom: 70px;
  }
}
