.example {
  padding-top: 15px;
  padding-bottom: 36px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 0;

    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;

    background-image: linear-gradient(to bottom, #ffffff 167px, transparent 167px), linear-gradient(to right, #f2f2f2 60%, #eaeaea 60%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    margin-bottom: 0;
  }
}

.example__title {
  margin: 0 0 26px;
  padding: 0;

  @include text-primary($size: 36px, $height: 60px);

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
  }
}

.example__description {
  margin: 0 0 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;
}

.example__item {
  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }

  &:first-child {
    margin-right: 34px;

    @media (min-width: $tablet-width) {
      margin-right: 40px;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      width: 175px;
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      margin-left: 0;
    }
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
  }
}
