.example {
  padding-top: 15px;
  padding-bottom: 36px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 70px;

    background: linear-gradient(to bottom, #ffffff 620px, #f2f2f2 620px, #f2f2f2 100%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 70px;

    background: linear-gradient(to bottom, #ffffff 170px, #f2f2f2 170px, #f2f2f2 100%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__info {
  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.example__title {
  margin: 0 0 26px;
  padding: 0;

  @include text-primary($size: 36px, $height: 60px);

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
  }
}

.example__description {
  margin: 0 0 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list-reset;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__item {
  &:first-child {
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      width: 175px;
      margin-left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;

    &:last-child {
      width: 325px;
      margin-left: 0;
    }
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    width: 610px;
  }
}
