.feedback {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.feedback__container {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.feedback__info {
  margin: 0 0 36px;
  padding: 0 30px 0 0;

  @include text-primary($color: #222222, $transform: uppercase);

  @media (min-width: $tablet-width) {
    width: 380px;
    margin-bottom: 68px;

    font-size: 20px;
    line-height: 30px;
  }
}

.feedback__top {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.feedback__contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__additional {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__controls {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
