.form-feedback__item {
  margin: 0 0 6px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}

.form-feedback__item--bordered {
  @include container-reset();
  margin-bottom: 28px;
  padding: 20px 0 7px 20px;

  border: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    margin: 0 0 83px;
    padding: 20px 25px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 78px;
  }
}

.form-feedback__item--about {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__item--contacts {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.form-feedback__item--additional {
  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.form-feedback__title-wrapper {
  display: flex;
  flex-wrap: nowrap;

  &::after {
    content: "";

    height: 3px;
    flex-grow: 1;
    margin-top: 14px;

    background-color: $bg-primary;
  }

  &::before {
    content: "";

    width: 28px;
    height: 3px;
    flex-grow: 1;
    margin-top: 14px;
    margin-right: 40px;

    background-color: $bg-primary;

    @media (max-width: $mobile-width-only) {
      margin-right: 10px;

      background: none;
    }
  }
}

.form-feedback__title {
  width: $mobile-width;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 34px;
  padding: 0;

  @include text-primary($size: 24px, $height: 24px);

  @media (min-width: $tablet-width) {
    width: $tablet-width - 60px;
    margin: 0 auto 80px;

    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }

  &::after {
    content: "";

    flex-grow: 1;
    height: 3px;
    margin-top: 14px;
    margin-left: 38px;

    background-color: $bg-primary;

    @media (max-width: $mobile-width-only) {
      margin-left: 25px;
    }
  }
}

.form-feedback__title--additional {
  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.form-feedback__title-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-feedback__group {
  display: flex;
  align-items: flex-start;

  @include indent-reset;
}

.form-feedback__group--input {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__group--checkbox {
  @media (min-width: $tablet-width) {
    width: 314px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    &:nth-child(even) {
      padding-left: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 324px;

    &:last-child {
      width: auto;
    }
  }
}

.form-feedback__input {
  width: 100%;
  margin: 0 0 14px;
  padding: 13px;

  @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);

  border: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    height: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;

    font-size: 20px;
    line-height: 20px;

    box-sizing: content-box;
  }

  &::placeholder {
    @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);

    opacity: 1;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    border: 1px solid #444444;
    outline: 1px solid #444444;
  }

  &:invalid {
    border: 1px solid #ff8282;
    outline: 1px solid #ff8282;
  }
}

.form-feedback__input--email {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 17px 13px;

  @media (min-width: $tablet-width) {
    background-position: 96% 50%;
  }

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13' fill='%2368b738'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
  }

  &:invalid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13' fill='%23ff8282'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

.form-feedback__input--phone {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 20px 20px;

  @media (min-width: $tablet-width) {
    background-position: 96% 50%;
  }

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%2368b738'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
  }

  &:invalid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23ff8282'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

.form-feedback__label {
  position: relative;

  margin-top: 14px;
  margin-right: 14px;

  @include text-primary($size: 16px, $height: 18px, $color: #222222, $transform: uppercase);

  cursor: pointer;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form-feedback__label--radio {
  display: block;
  margin: 0 0 13px;
  padding: 6px 0 6px 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    padding: 9px 0 9px 63px;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #e2e2e2;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border: 1px solid #bababa;
  }
}

.form-feedback__input:focus ~ .form-feedback__label--radio::before {
  border: 1px solid #bababa;
}

.form-feedback__input:checked ~ .form-feedback__label--radio::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: $bg-primary;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.form-feedback__label--checkbox {
  margin: 0 0 13px;
  padding: 6px 0 6px 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 11px 0 11px 59px;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #e2e2e2;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border: 1px solid #bababa;
  }
}

.form-feedback__input:focus ~ .form-feedback__label--checkbox::before {
  border: 1px solid #bababa;
}

.form-feedback__input:checked ~ .form-feedback__label--checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: 12px;
    left: 10px;
  }
}

.form-feedback__textarea {
  min-width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 13px;

  @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);

  border: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    min-height: 175px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);

    opacity: 1;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    border: 1px solid #444444;
    outline: 1px solid #444444;
  }

  &:invalid {
    border: 1px solid #ff8282;
    outline: 1px solid #ff8282;
  }
}

.form-feedback__btn {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 280px;
    padding: 16px 25px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__info {
  display: block;
  margin-bottom: 33px;
  padding-left: 60px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 65px;

    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}
