.form-feedback__item {
  margin: 0 0 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form-feedback__item--bordered {
  @include container-reset();
  padding: 20px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
    padding: 25px;

    border: 1px solid #ededed;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__item--about {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__title {
  display: flex;
  align-items: center;

  margin: 0 0 30px 20px;
  padding: 0;

  @include text-primary($size: 24px, $height: 24px);

  &::after {
    content: "";

    flex-grow: 1;
    height: 3px;
    margin-left: 22px;

    background-color: $bg-primary;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;

    &::before {
      content: "";

      width: 30px;
      height: 3px;
      margin-right: 40px;

      background-color: $bg-primary;
    }
  }
}

.form-feedback__group {
  display: flex;
  align-items: baseline;

  @include indent-reset;
}

.form-feedback__group--input {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__group--checkbox {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form-feedback__input {
  flex-grow: 1;
  margin: 0 0 15px 15px;
  padding: 12px 15px;

  border: 1px solid #e6e6e6;

  &::-webkit-input-placeholder {
    @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 16px 20px;

    &::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.form-feedback__label {
  position: relative;

  @include text-primary($size: 16px, $height: 18px, $color: #222222, $transform: uppercase);

  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form-feedback__label--radio {
  display: block;
  margin: 0 0 13px;
  padding: 6px 0 6px 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #e2e2e2;
    border-radius: 50%;
  }
}

.form-feedback__input:checked ~ .form-feedback__label--radio::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: $bg-primary;
  border-radius: 50%;
}

.form-feedback__label--checkbox {
  padding-top: 6px;
  padding-bottom: 6px;

  display: block;
  margin-bottom: 13px;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #e2e2e2;
  }
}

.form-feedback__input:checked ~ .form-feedback__label--checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-feedback__textarea {
  min-width: 100%;
  min-height: 150px;
  padding: 15px;

  border: 1px solid #e6e6e6;

  &::-webkit-input-placeholder {
    @include text-primary($size: 16px, $height: 18px, $color: #444444, $transform: uppercase);
  }
}

.form-feedback__btn {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 280px;
    padding: 16px 25px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__info {
  display: block;
  margin-bottom: 30px;
  padding-left: 60px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    padding-left: 80px;

    font-size: 16px;
    line-height: 16px;
  }
}
