.item-example {
  position: relative;

  margin-bottom: 35px;

  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.item-example--card {
  width: 123px;
  height: 56px;
  padding-top: 14px;

  border: 1px solid #cdcdcd;
  border-bottom: 0;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.item-example--inline {
  width: 100%;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 12px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    text-align: left;
  }
}

.item-example__title {
  @include text-primary($size: 24px, $height: 24px, $transform: uppercase);

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.item-example__title--inline {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.item-example__title--inline span {
  @media (min-width: $desktop-width) {
    margin-left: 57px;
  }
}

.item-example__subtitle {
  position: absolute;
  top: 48px;
  left: 0;

  width: 121px;
  display: flex;

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    top: 64px;

    width: 160px;

    font-size: 14px;
    line-height: 14px;
  }

  &::before {
    content: "";

    width: 1px;
    height: 1px;
    flex-grow: 1;
    margin-top: 6px;
    margin-right: 10px;

    background-color: #cdcdcd;
  }

  &::after {
    content: "";

    width: 1px;
    height: 1px;
    flex-grow: 1;
    margin-top: 6px;
    margin-left: 10px;

    background-color: #cdcdcd;
  }
}

.item-example__subtitle-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
