.item-additional {
  padding-top: 15px;
  border-top: 1px solid #cdcdcd;
}

.item-additional__title {
  @include indent-reset;
  margin-bottom: 10px;

  @include text-primary($size: 16px, $height: 16px, $transform: uppercase);
}

.item-additional__table {
  width: 100%;
  margin-bottom: 10px;
}

.item-additional__btn {
  display: block;
  margin-bottom: 17px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .item-additional {
    display: flex;
    flex-wrap: wrap;
  }

  .item-additional__title {
    margin-right: auto;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  .item-additional__table {
    width: 240px;
  }

  .item-additional__btn {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .item-additional {
    justify-content: space-between;
    align-items: center;
    width: 895px;
    padding: 16px 0;
  }

  .item-additional__title {
    width: 285px;
    margin: 0;
  }

  .item-additional__table {
    width: 285px;
    margin: 0;
  }

  .item-additional__btn {
    width: 245px;
    margin: 0;
  }
}
