.item-example {
  position: relative;

  margin-bottom: 35px;

  text-align: center;

  &--card {
    width: 123px;
    height: 56px;
    padding-top: 14px;

    border: 1px solid #cdcdcd;
    border-bottom: 0;
    border-radius: 3px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;

      background: linear-gradient(to right, #cdcdcd 18px, transparent 18px, transparent 105px, #cdcdcd 105px, #cdcdcd 100%);
    }
  }
}


.item-example__title {
  @include text-primary($size: 24px, $height: 24px, $transform: uppercase);

  &--inline {
    font-size: 14px;
    line-height: 20px;
  }
}

.item-example__subtitle {
  position: absolute;
  top: 100%;
  left: 50%;

  width: 87px;
  padding: 0 14px;

  transform: translate(-50%, -30%);

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

@media (min-width: $tablet-width) {
  .item-example {
    &--card {
      width: 162px;
      height: 72px;
      padding-top: 22px;

      &::after {
        background: linear-gradient(to right, #cdcdcd 24px, transparent 24px, transparent 138px, #cdcdcd 138px, #cdcdcd 100%);
      }
    }

    &--inline {
      text-align: right;
    }
  }

  .item-example__title {
    font-size: 30px;
    line-height: 37px;

    &--inline {
      font-size: 20px;
      text-align: right;
    }
  }

  .item-example__subtitle {
    width: 115px;
    padding: 0 7px;

    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $tablet-width) {
  .item-example--inline {
    text-align: left;
  }
}
