.list-nav {
  @include list-reset;
}

.list-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;

  border-top: 1px solid #e6e6e6;
}

.list-nav__link {
  position: relative;

  @include text-primary(20px, 500, 20px, uppercase);

  &:focus[href],
  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .list-nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
  }

  .list-nav__item {
    margin-left: 35px;
    border: 0;
  }

  .list-nav__link {
    font-size: 18px;
    line-height: 25px;
  }

  .list-nav__link--active::after {
    content: "";

    position: absolute;
    bottom: -6px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $bg-primary;
  }
}

@media (min-width: $desktop-width) {
  .list-nav__link {
    font-size: 20px;
  }

  .list-nav__link--light {
    color: $text-light;

    &::after {
    background-color: $text-light;
    }
  }
}
