.list-nav {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.list-nav__item {
  padding: 21px 0;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    padding: 18px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list-nav__link {
  position: relative;

  @include text-primary(20px, 500, 20px, uppercase);

  &:focus[href],
  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.list-nav__link--active {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $bg-primary;
    }
  }
}

.list-nav__link--light {
  @media (min-width: $desktop-width) {
    color: $text-light;

    &::after {
      background-color: $text-light;
    }
  }
}
