.main-nav {
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  height: 65px;
  display: flex;
  align-items: center;
}

.main-nav__toggle {
  width: 24px;
  height: 18px;

  @include indent-reset;

  background: none;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  cursor: pointer;

  &--active {
    background-image: url("../img/icon-close.svg");
  }
}

.main-nav__navbar {
  flex-basis: 100%;
  flex-grow: 1;

  @include container-reset;

  &:not(&--show) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 25px;
    border-bottom: 0;
  }

  .main-nav__container {
    justify-content: flex-start;
  }

  .main-nav__logo {
    height: 58px;
    margin-right: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__navbar {
    flex-basis: auto;
    flex-grow: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 55px;
  }
}
