.map {
  position: relative;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    max-height: 362px;

    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    top: 165px;
    left: 50%;

    width: 62px;
    height: 53px;
    margin-top: -26px;
    margin-left: -31px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 124px;
      height: 106px;
      margin-left: -62px;
    }

    @media (min-width: $desktop-width) {
      top: 175px;
      right: 320px;
      left: auto;
    }
  }
}

.map__img {
  @media (max-width: $mobile-width-only) {
    margin-top: -38px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 390px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}
