.page-main__title {
  margin-top: 15px;
  margin-bottom: 28px;
  padding: 0;

  @include text-primary($size: 36px, $height: 60px);

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    margin-bottom: 52px;

    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
  }
}
