.page-main__title {
  margin: 15px 0 25px;
  padding: 0;

  @include text-primary($size: 36px, $height: 60px);

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 80px;

    font-size: 60px;
  }
}
