.page-footer {
  background-color: #f2f2f2;
  border: 1px solid violet;
}

.page-footer__contacts {
  padding-top: 30px;

  border: 1px solid red;
}

.page-footer__logo {
  display: block;
  margin-bottom: 30px;

  text-align: center;

  border: 1px solid orange;
}

.page-footer__social {
  border: 1px solid green;
}

.page-footer__copyrights {
  border: 1px solid blue;
}
