.page-main__title {
  @include indent-reset;
  margin-top: 15px;
  margin-bottom: 25px;

  @include text-primary($size: 36px, $height: 60px);
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-top: 65px;
    margin-bottom: 80px;

    font-size: 60px;
  }
}
