.page-footer {
  background-color: #f2f2f2;
}

.page-footer__top {
  position: relative;

  max-width: 1440px;
  margin: 0 auto;
}

.page-footer__contacts {
  padding: 27px 20px;

  @media (min-width: $tablet-width) {
    padding: 63px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;

    width: 570px;
    min-height: 200px;

    padding: 63px 75px;
  }
}

.page-footer__map {
  position: relative;

  @include indent-reset;
}

.page-footer__bottom {
  padding-top: 40px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 25px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include list-reset;
  margin-bottom: 18px;
  padding: 21px 75px 16px;

  @media (min-width: $tablet-width) {
    min-width: 142px;
    margin: 0;
    padding: 0;
  }
}

.page-footer__copyrights {
  @media (min-width: $tablet-width) {
    width: 160px;
  }
}
