.product-about {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding-bottom: 11px;

    border-bottom: 1px solid #e6e6e6;
  }
}

.product-about__title {
  margin: 0 0 25px;
  padding: 0;

  @include text-primary($size: 36px, $height: 60px);

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
  }
}

.product-about__list {
  @include list-reset;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    counter-reset: li;
  }
}

.product-about__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    width: 245px;
    margin: 40px 80px 40px 0;
    padding: 115px 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $bg-primary;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: li;
      content: counter(li);
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;

      @include text-primary($size: 281px, $height: 281px, $color: #f2f2f2);
    }
  }

  &:nth-child(even) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-left: auto;
    }
  }

  &:nth-child(4n+1) {
    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }
}

.product-about__item--nature {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.product-about__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.product-about__item--food {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.product-about__item--time {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
