.promo {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 320px 305px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.promo__container {
  position: relative;

  padding-top: 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 54px 0 510px 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 170px 120px;
  }
}

.promo__title {
  margin: 0 0 24px;
  padding: 0;

  @include text-primary($size: 36px, $height: 36px, $color: $text-light);

  @media (min-width: $tablet-width) {
    max-width: 427px;
    margin-bottom: 38px;

    font-size: 60px;
    line-height: 60px;
    color: $text-dark;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

.promo__slogan {
  display: block;

  margin: 0 0 28px;
  padding: 0;

  @include text-primary($height: 14px, $transform: uppercase, $color: $text-light);

  @media (min-width: $tablet-width) {
    max-width: 427px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    color: $text-dark;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.promo__picture {
  display: block;

  @media (max-width: $mobile-width-only) {
    @include container-reset;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 30px;
    bottom: 0;
    z-index: -1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
    left: 490px;
    z-index: 0;

    width: 552px;
    height: 499px;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
  }
}

.promo__btn {
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 16px 25px;

    font-size: 20px;
  }
}
