.props-table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.props-table__title {
  font-weight: 400;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 8px 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.props-table__value {
  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 8px 0;

    border-bottom: 1px solid #cdcdcd;
  }
}
