.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.social__item {
  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  vertical-align: middle;
}

.social__link--vkontakte {
  background-image: url("../img/icon-vk-mobile.svg");
  background-size: (30px 16px);
}

.social__link--instagram {
  background-image: url("../img/icon-insta-mobile.svg");
  background-size: (23px 23px);
}

.social__link--facebook {
  background-image: url("../img/icon-fb-mobile.svg");
  background-size: (14px 28px);
}
