.social {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.social__item {
  margin-right: 36px;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
    margin-left: 15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $bg-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon--vkontakte {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__icon--instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon--facebook {
  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}
