$text-default: #444444;
$text-dark: #111111;
$text-light: #ffffff;
$bg-default: #f2f2f2;
$bg-primary: #68b738;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
